
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        <p>
          {{this.id}}. {{this.burger_name}}

          <button data-burgerId="{{this.id}}" class="delburger">Devour Burger!</button>
        </p>
      </li>
    {{/unless}}  
  {{/each}}
</ul>
<br>
<br>
<h2>Add a Burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Add Burger!</button>
</form>
<br>
<br>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        <p>
          {{this.id}}. {{this.burger_name}}
        </p>
      </li>
    {{/if}}  
  {{/each}}
</ul>